<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Unknown</string>
	<key>Buffer Order</key>
	<array>
		<string>SplashScreenScene</string>
		<string>Logo</string>
		<string>Main</string>
		<string>MainScreen</string>
		<string>Settings</string>
		<string>Store</string>
		<string>Credits</string>
		<string>LevelSelect</string>
		<string>MainGame</string>
		<string>Easy</string>
		<string>CorrectEasy</string>
		<string>WrongEasy</string>
		<string>Normal</string>
		<string>CorrectNormal</string>
		<string>WrongNormal</string>
		<string>EndScreenNormal</string>
		<string>Hard</string>
		<string>CorrectHard</string>
		<string>WrongHard</string>
		<string>Players</string>
		<string>OnePlayer</string>
		<string>Tutorial</string>
		<string>TwoPlayers</string>
		<string>ThreePlayers</string>
		<string>FourPlayers</string>
		<string>Leaderboard</string>
		<string>Achievements</string>
		<string>HelperClass</string>
	</array>
	<key>Dependencies</key>
	<array>
		<string>HelperClass</string>
	</array>
	<key>Description</key>
	<string>No description available</string>
</dict>
</plist>
